# Dependencies
node_modules/
package-lock.json

# Angular
dist/
.angular/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
backend/.env

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.code-workspace
*.swp
*.swo

# Docker
mysql_data/

# Build / Test
coverage/

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.bak
*.orig
